@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  width: 156px;
  height: 36px;
}
.contentimg {
  width: 1280px;
  height: 600px;
  border-radius: 10px;
}
.trendImg {
  width: 290px;
  height: 320px;
}
.list {
  list-style: none;
  overflow: hidden;
}
.list li {
  float: left;
}
.bor {
  border-top: 1px solid rgb(168, 167, 167);
}
.embla {
  overflow: hidden;
  width: 1280px;
  height: 520px;
  margin: auto;
  margin-top: 50px;
}
.embla__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
