@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  width: 156px;
  height: 36px;
}
.contentimg {
  width: 1280px;
  height: 600px;
  border-radius: 10px;
}
.trendImg {
  width: 290px;
  height: 320px;
}
.list {
  list-style: none;
  overflow: hidden;
}
.list li {
  float: left;
}
.bor {
  border-top: 1px solid rgb(168, 167, 167);
}
